@model Emmares4.Models.HomeViewModels.FavoritesViewModel


<div class="panel-content">
    <h2 class="heading"><i class="far fa-star"></i>FAVOURITE FIELDS OF INTEREST</h2>
    <ul class="list-unstyled list favioratelist pre-scrollable" style="max-height:230px">
        @{
            int counter = 1;
            foreach (var item in Model.Favorites)
            {

        <li>
            <span class="outer"><span class="inner">@counter</span></span>
            @if (item == Model.LastSelected)
            {
                <strong><a href="#" onclick="GetSubscriptions(this);">@item</a></strong>
            }
            else
            {
                <a href="#" onclick="GetSubscriptions(this);">@item</a>
            }
            <span class="pull-right right-delete-action">
                <a href="@Url.Action("DeleteField", "Home")?FieldOfInterestID=@item"> <img src="~/images/icon_trash.svg" alt="Remove"></a>
            </span>
        </li>
                counter++;
            }
        }
    </ul>
    <hr />

</div>
<select asp-for="FieldOfInterestID" class="form-control" asp-items="ViewBag.FieldOfInterestID" onchange="AddField()">
    <option value="0">+ Add a Field</option>
</select>
